.form {

  &__register {

    p {
      text-align: center;
      margin: 40px 20px 20px;

      span {
        display: block;
        text-transform: uppercase;
        color: #2b7deb;
        font-weight: 900;
      }
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
      border: 2px solid #2b7deb;
      border-radius: 7px;
      padding: 20px 15px;
      height: 44px;
    }

    select {
      padding: 10px;

      @media only screen and (max-width: 768px) {
        padding: 10px 0;
      }

      @media only screen and (max-width: 480px) {
        padding: 10px 5px;
      }
    }

    textarea {
      height: 150px;
      padding: 10px 15px;
    }

    label {
      text-transform: uppercase;
      color: #5c5c5c;
      margin-top: 20px;

      small {
        color: #ff0101;
        font-size: 12px;
      }
    }

    .radio {
      margin-top: 0;

      label {
        margin-top: 0;
      }
    }

    .checkbox {

      label {
        text-transform: none;
      }
    }

    .btn__secondary {
      margin: 30px 0 50px;
    }

    .row-no-gutters [class*="col-"] {
      padding-right: 10px;
    }

    input::placeholder { 
      color: #bababa 
    }
  }

  &__header {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px solid #bfbfbf;
    color: #2b7be7;
    padding-bottom: 10px;
    margin-top: 50px;
  }

  &__step {
    text-align: center;

    .container {
      @media only screen and (max-width: 991px) {
        width: 100%; 
      }
    }

    &--container {
      margin: 30px 0;
      position: relative;
      display: inline-block;

      @media only screen and (max-width: 991px) {
        margin: 30px 0 0;
      }

      @media only screen and (max-width: 800px) {
        display: block;
        text-align: left;
      }

      &:before {
        content: '';
        width: 100%;
        height: 7px;
        background-color: #50cdde;
        position: absolute;
        left: 25px;
        top: 52px;

        @media only screen and (max-width: 991px) {
          top: 47px;
        }

        @media only screen and (max-width: 800px) {
          display: none;
        }
      }

      &:last-child {

        &:before {
          content: '';
          display: none;
        }
      }

      &.active {

        .form__step--item {
          color: #fff;
          background-color: #2b7deb;
        }

        .form__step--circle {
          background-color: #fff;
          color: #2b7deb;
        }
      }
    }

    &--item {
      background-color: #fff;
      border-radius: 50px;
      color: #2b7deb;
      padding: 5px 30px 5px 5px;
      margin: 20px;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 900;
      position: relative;
      box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.1);

      @media only screen and (max-width: 1200px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 991px) {
        margin: 20px 5px;
      }

      @media only screen and (max-width: 350px) {
        font-size: 13px;
      }
    }

    &--circle {
      border-radius: 50%;
      background-color: #2b7deb;
      text-align: center;
      color: #fff;
      display: inline-block;
      height: 60px;
      width: 60px;
      vertical-align: middle;
      margin-right: 10px;
      font-family: 'Playfair Display', serif;
      font-size: 14px;
      padding-top: 20px;
      letter-spacing: 2px;
      text-transform: none;
      position: relative;

      @media only screen and (max-width: 991px) {
        height: 50px;
        width: 50px;
        font-size: 10px;
        padding-top: 16px;
      }
    }
  }

}