body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;

  &.active {
    overflow-y: hidden;
  }
}

button {
  border: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: #2b7be7;
  margin: 3px 0;
}

h1 {
  
  @media only screen and (max-width: 540px) {
    font-size: 24px;
  }
}

h3 {
  font-weight: 900;

  @media only screen and (max-width: 540px) {
    font-size: 16px;
  }
}

h4 {
  font-weight: 300;
}

h2,
h5 {
  font-weight: 900;
}

h6 {
  color: #898989;
  font-weight: 900;
}

p {
  color: #5c5c5c;
  font-size: 15px;
}

a {

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.f-bold {
  font-weight: 900;
}

.f-blue {
  color: #2c7dea;
}

.border-dots {
  border-bottom: 1px dotted;
}

.border-right {
  border-right: 1px solid #bfbfbf;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 100px;
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}