section {
  position: relative;
}

.section {

  &__main {
    padding-top: 130px;
    padding-bottom: 315px;
    position: relative;

    .graphic {
      background-image: url(../images/graphic-main.png);
      position: absolute;
      right: -20px;
      bottom: 20px;
      height: 650px;
      width: 650px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 100% 90%;
    }
    
    &:before {
      content: '';
      background-image: url(../images/bg-banner-top.png);
      position: absolute;
      top: 0;
      left: 0;
      height: 230px;
      width: 100%;
      background-position: 50% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
    }

    &:after {
      content: '';
      background-image: url(../images/bg-banner-bottom.png);
      position: absolute;
      bottom: 0;
      left: 0;
      height: 300px;
      width: 100%;
      background-position: 40% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
    }
  }

  &__tab {
    margin-top: -30px;

    &--info {
      text-align: center;

      h4 {
        font-size: 36px
      }

      h5 {
        font-size: 20px;
      }

      .content {
        margin-bottom: 40px;

        span {
          color: #2b7be7;
          font-weight: 900;
          text-transform: uppercase;
          font-size: 20px;
          display: block;
          margin-bottom: 5px;
        }
      }
    }

    &--body {
      padding: 40px 20px;
    }

    &--header {
      background-color: #2c7dea;
      padding: 30px 20px;
      text-align: center;
    }

    &--title {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;

      a {
        color: #2c7dea;
        background-color: #fff;
        border-radius: 20px;
        padding: 10px 25px;
        border: 2px solid #fff;
        text-transform: uppercase;
        @include transition(all, 0.2s, ease);

        &:hover {
          background-color: #c7e4ff;
        }
      }

      &.active {
        
        a {
          background-color: #4e99ff;
          color: #fff;
        }
      }
    }
  }

  &__about {
    padding-top: 50px;
    padding-bottom: 30px;

    &:before {
      content: '';
      background-image: url(../images/banner-ngajar.png);
      background-repeat: no-repeat;
      position: absolute;
      bottom: -30px;
      left: 0;
      height: 85%;
      width: 50%;
      background-size: contain;
      background-position: 0 100%;
    }

    &--desc {
      margin-top: 30px;

      span {
        color: #2b7be7;
        font-weight: bold;
      }
    }
  }

  &__video {
    background-image: url(../images/bg-video.png);
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    &--content {
      padding-top: 150px;

      h2 {
        color: #fff;
      }

      .hashtag {
        color: #2b7deb;
        font-size: 20px;
        letter-spacing: 4px;
      }
    }

    a {
      font-size: 60px;
      color: #fff;
      margin-bottom: 30px;
      display: inline-block;
    }
  }

  &__howto {
    background-image: url(../images/bg-steps.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    .container {
      padding-top: 140px;
    }
  }

  &__register {
    background-color: #2c7dea;
    padding: 30px 0;
    color: #fff;

    &--text {
      font-size: 18px;
    }

    &--right {
      text-align: right;
    }
  }

  &__contact {
    padding: 50px 20px;

    &--title {
      text-align: center;

      span {
        color: #50cdde;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 900;
      }

      h3 {
        text-transform: capitalize;
        font-size: 30px;
        margin-bottom: 30px;
      }
    }

    input,
    textarea {
      margin-bottom: 10px;
      background-color: #f2f2f2;
    }

    textarea {
      height: 150px;
    }

    .row-no-gutters {
      > div:first-child {
        padding-right: 5px;
      }

      > div:last-child {
        padding-left: 5px;
      }
    }

    .btn__secondary {
      width: 170px;
      font-size: 14px;
      padding: 7px 20px;
      margin-top: 20px;
    }
  }
}

.circle {

  &__candidate {

    &:first-child {

      .circle__candidate--container {
        border: 1px dashed #33bcee;
      }
      
      .circle__candidate--content {
        background-color: #33bcee;
      }
    }

    &:nth-child(2) {

      .circle__candidate--container {
        border: 1px dashed #4e99ff;
      }
      
      .circle__candidate--content {
        background-color: #4e99ff;
      }
    }

    &:nth-child(3) {

      .circle__candidate--container {
        border: 1px dashed #125cbf;
      }

      .circle__candidate--content {
        background-color: #125cbf;
      }
    }

    &:nth-child(4) {

      .circle__candidate--container {
        border: 1px dashed #2c7dea;
      }
      
      .circle__candidate--content {
        background-color: #2c7dea;
      }
    }

    &--container {
      display: inline-block;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      position: relative;

      &:before {
        content: '';
        width: 100px;
        height: 80px;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 6px;
        background: #fff;
      }
    }

    &--content {
      width: 235px;
      height: 235px;
      border-radius: 50%;
      position: relative;
      margin: 6px auto;

      &:before {
        content: '';
        width: 215px;
        height: 215px;
        border-radius: 50%;
        border: 1px solid #fff;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      span {
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        display: block;
        font-size: 22px;
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
      }
    }
  }

  &__info {
    position: absolute;
    color: #2b7deb;
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    top: -100px;
    left: 0;
    right: 0;
    margin: auto;

    &:before {
      content: '';
      height: 80px;
      width: 3px;
      background-color: #2b7deb;
      position: absolute;
      top: 50px;
      margin: auto;
      left: 0;
      right: 0;
    }

    &:after {
      content: '';
      height: 13px;
      width: 13px;
      background-color: #2b7deb;
      border-radius: 50%;
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      margin: auto;
    }

    &.bottom {
      bottom: -100px;
      top: initial;

      &:before {
        content: '';
        height: 80px;
        width: 3px;
        background-color: #2b7deb;
        position: absolute;
        bottom: 190px;
        margin: auto;
        left: 0;
        right: 0;
      }

      &:after {
        content: '';
        height: 13px;
        width: 13px;
        background-color: #2b7deb;
        border-radius: 50%;
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  &__wrapper {
    text-align: center;
    margin: 150px 0;
  }

  &__date {
    color: #2b7deb;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: -20px;
  }

  &__month {
    color: #2b7deb;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__item {
    background-color: #fff;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    overflow: hidden;
    padding: 40px 50px;
    margin: auto;

    p {
      margin-top: 10px;
    }
  }

  &__container {
    margin: 0 -17px 0 -17px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    text-align: center;
    height: 200px;
    padding-top: 40px ;
  }

  &__top {

    &--blueDark {

      &:before {
        content: '';
        position: absolute;
        width: 200px;
        height: 100px;
        background-color: transparent;
        border-top-left-radius: 110px;
        border-top-right-radius: 110px;
        border: 30px solid #2c7dea;
        border-bottom: 0;
        top: 0;
        left: 0;
        z-index: 2;
      }
    }

    &--cyan {

      &:before {
        content: '';
        position: absolute;
        width: 200px;
        height: 100px;
        background-color: transparent;
        border-top-left-radius: 110px;
        border-top-right-radius: 110px;
        border: 30px solid #91e1f6;
        border-bottom: 0;
        top: 0;
        left: 0;
      }
    }

  }

  &__bottom {

    &--cyan {
      &:after {
        content: '';
        position: absolute;
        width: 200px;
        height: 100px;
        background-color: transparent;
        border-bottom-left-radius: 110px;
        border-bottom-right-radius: 110px;
        border: 30px solid #91e1f6;
        border-top: 0;
        bottom: 0;
        left: 0;
      }
    }

    &--blueDark {

      &:after {
        content: '';
        position: absolute;
        width: 200px;
        height: 100px;
        background-color: transparent;
        border-bottom-left-radius: 110px;
        border-bottom-right-radius: 110px;
        border: 30px solid #4e99ff;
        border-top: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }
  }
}

.btn {

  &__main {
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0);
    @include transition(all, 0.2s, ease);

    &:hover {
      color: #fff;
      background-color: rgba(255,255,255,0.2);
    }
  }

  &__secondary {
    padding: 13px 30px;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: #2b7deb;
    @include transition(all, 0.2s, ease);

    &:hover {
      color: #fff;
      background-color: #1462ca;
    }
  }

  &__cyan {
    border: 2px solid #50cdde;
    background-color: rgba(80,205,222,1);
    color: #fff;
    @include transition(all, 0.2s, ease);

    &:hover {
      color: #fff;
      background-color: rgba(80,205,222,0.7);
    }
  }

}

.slider {

  &__container {
    min-height: 300px;
    z-index: 3;
    max-height: 265px;
    overflow-y: hidden;
    padding-top: 40px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__item {
    padding-bottom: 40px;
  }
}

.step {
  margin: 7px 0;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

.text {

  &__uppercase {
    text-transform: uppercase;
    font-weight: 900;
  }
}

.modal-dialog {

  @media (min-width: 768px) {
    width: 900px;
  }
}

.modal-content {
  @media (min-width: 768px) {
    height: 500px;
  }
}

.video {
  width: 100%;
  height: 100%;
}